<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='refresh' content='3;url=/login'>
    <title>SOCIAL CLUB BUSAN.</title>
    <link href="css/splash.css" rel="stylesheet"/>

  </head>
  <body>
  <div class="layer">
    <div class="layer_inner">
      <h3 class="typing-txt">SOCIAL CLUB BUSAN.</h3>
      <h3 class="typing"></h3>
      <h3 class="layer_inner2" id="since">Delivery Market</h3>
    </div>
  </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/splash.js"></script>
  </body>
</html>
